.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
}

.App__container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-gap: 20px;
  width: 90vw;
}
.Direction__column{
  display: flex;
  flex-direction: column
}

.Direction__wrap{
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.Header{
  grid-column: 1 / 13;
  grid-row: 1;
}
.Header--color {
  background-color: #FFF600;
  height: 8vh;
  font-size: 18px;
  color: #999999;
}
.Header__elements{
  margin-top: 16px;
  display: inline-flex;
}

.imgPrincipal{
  flex-basis: 10px ; 
  flex-grow: 1
}
.nabvar__searchInput{
  border:none;
  height: 90%;
  padding: 0 20em;
  margin-left: 16px;

}


.Content{
  grid-column: 1 / 13;
  grid-row: 2;
}
.Text {
  width: 60%;
}
.Text--margin{
  margin-top: 16px;
}
.Information__element {
  width: 100%;
  height: 212px;
  background-color: #EEEEEE;
}
.Information__image {
  margin: 16px;
  width: 180px;
  height: 180px;
  background-color: blue;
  border-radius: 4px;
}
.Information__text{
  margin-top: 16px;
  height: 180px;
  text-align: start;
}
