
.App {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #EEEEEE;
}

.App__container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-gap: 20px;
  width: 90vw;
}
.Direction__column{
  display: flex;
  flex-direction: column
}

.Direction__wrap{
  display: flex;
  flex-direction: wrap;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.Header{
  grid-column: 1 / 13;
  grid-row: 1;
}
.Header--color {
  background-color: #FFF600;
  padding: 16px;
  color: #999999;
}
.Header__elements{
  display: flex;
  width: 100%;
  height:50px;
  display: flex;
  align-items: center;
}

.imgPrincipal{

  flex-grow: 0.1
}
.nabvar__searchInput{
  flex-grow: 3;
  border:none;
  height: 90%;
  margin-left: 16px;
  padding-left: 16px;
  font-size: 20px;
}

.imgSearch{
  width: 40px;
  height: 95%;
  flex-grow: 0.1;
  background-color: #d3d3d3;
}

.Content{
  grid-column: 1 / 13;
  grid-row: 2;
}
.Text {
  width: 60%;
}
.Text--margin{
  margin-top: 16px;
}
.Information__element {
  width: 100%;
  height: 212px;
  background-color: white;
}
.Information__image {
  margin: 16px;
  width: 180px;
  height: 180px;
  border-color: none;
  border-radius: 4px;
}
.Information__text{
  margin-top: 16px;
  height: 180px;
  text-align: start;
}
.Information__text--inline{
  display: inline-flex;
    align-items: center;
}

.OpenElement__content{
  grid-column: 1 / 13;
  grid-row: 2;
}

.OpenElement__section-right{
  width: 40%;
  height: 100%;
  margin-left: 32px;
}
.OpenElement__section-left{
  width: 60%;
  height: 100%;
}

.OpenInformation__element {
  width: 100%;
  height: 80vh;
  background-color: white;
}

.OpenInformation__text{
  margin: 32px;
  height: 180px;
  text-align: start;
}

.OpenInformation__text--46size{
  margin: 32px 0 32px 0;
  font-size: 46px ;
}
.OpenInformation__text--24size{
  margin-top: 16px;
  font-size: 24px ;
}
.OpenInformation__text--14size{
  font-size: 14px ;
}

.btn{
  width: 350px;
  height: 46px;
  border-color: none;
  background-color: #3483fA;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  
}

.OpenInformation__image {
  margin: 16px;
  height: 50vh;
  border-color: none;
}